img{
    height: 70px;
    width: 70px;
    margin: 5px;
    margin-right: 10px;
    }

    
.btn {
    padding: .45rem 1.5rem .35rem;
}

.gradient-custom {
    /* fallback for old browsers */
    background: linear-gradient(#04377f5a,#3aa7e6) 



}

p{
    color: white;
    font-weight: bold;
}

#btn-size{
  margin-right: 115px;
  margin-left: 20px;
 
}