<!-- <nav>
  <div class="container-fluid">
    <div class="bg-dark text-light p-5">
      <div class="text-center">
        <h1>Customer Collection</h1>
        <img src="../../../assets/png-clipart-logo-internet-brand-organization-graphics-crm-icon-blue-text-thumbnail.png" alt="crm-logo">
        <h4>Hello {{ email }}</h4>
      </div>
      <div class="d-flex flex-row-reverse bd-highlight">
        <button class="btn btn-warning" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav> -->

<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-dark gradient-custom container-fluid"
  style="position: fixed; z-index: 10000"
>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a routerLink="/home">
      <img
        src="../../../assets/png-clipart-logo-internet-brand-organization-graphics-crm-icon-blue-text-thumbnail.png"
    /></a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-light"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" aria-current="page" routerLink="/home">
            <div>
              <i class="fas fa-home fa-lg mb-1"></i>
            </div>
            Home
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="mailto:moo15daa@gmail.com">
            <div>
              <i class="far fa-envelope fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-dark"
                >3</span
              >
            </div>
            Mail
          </a>
        </li>

        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="https://www.cnbc.com/quotes/CRM">
            <div>
              <i class="fas fa-globe-americas fa-lg mb-1"></i>
            </div>
            News
          </a>
        </li>

        <li class="nav-item text-center mx-2 mx-lg-1">
          <a
            class="nav-link"
            href="https://www.inogic.com/blog/2021/03/create-alerts-notifications-in-dynamics-365-crm-for-task-event-or-occasion-of-your-choice-and-effectively-manage-it-too/"
          >
            <div>
              <i class="fas fa-bell fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-dark"
                >5</span
              >
            </div>
            Notifications
          </a>
        </li>

        <li class="nav-item text-center mx-2 mx-lg-1">
          <a
            class="nav-link"
            href="https://www.amazingsupport.co.uk/business-applications/crm-support-solutions/"
          >
            <div>
              <i class="fas fa-headset fa-lg mb-1"></i>
            </div>
            Support
          </a>
        </li>
      </ul>

      <p>Hello: {{ email }}</p>
      <div class="d-flex flex-row-reverse bd-highlight">
        <button id="btn-size" class="btn btn-warning" (click)="logout()">
          Logout
        </button>
      </div>
      <!-- Search form -->
      <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-white"
          type="button"
          data-mdb-ripple-color="dark"
        >
          <i style="color: white" class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
