<form #updateCustomer="ngForm" (ngSubmit)="updateTheCustomer()">
    <h3>Update customer record</h3>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter First Name"
        name="firstName"
        [(ngModel)]="customer.firstName"
        #firstName="ngModel"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter Last Name"
        name="lastName"
        [(ngModel)]="customer.lastName"
        #lastName="ngModel"
        required
      />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter phone"
          name="phone"
          [(ngModel)]="customer.phone"
          #genre="ngModel"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Email"
          name="email"
          [(ngModel)]="customer.email"
          #email="ngModel"
          required
        />
      </div>
      <button class="btn btn-success" type="submit">+Update Customer</button>
    </form>

