<body>
  <div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-3">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a routerLink="/search-customer"
            ><i class="fa-regular fa-address-book"></i> Search Customer</a
          >
        </li>
        <li class="sidebar-brand">
          <a routerLink="/search-employee"
            ><i class="fa-regular fa-hand-point-up"> </i> Search Employee</a
          >
        </li>
        <li class="sidebar-brand">
          <a id="cursor"><i class="fa-solid fa-user-group"></i> Our Team</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
