<body>
    <div id="wrapper" class="toggled">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" class="col-3">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a routerLink="/show-customers"
              ><i class="fa-regular fa-address-book"></i> Customers</a
            >
          </li>
  
          <!-- <li class="sidebar-brand">
            <a routerLink="/search-employee"
              ><i class="fa-regular fa-hand-point-up"> </i> Contacts</a
            >
          </li> -->
          <!-- <li class="sidebar-brand">
            <a routerLink="/employees"
              ><i class="fa-solid fa-user-group"></i> Our Team</a
            > -->
          <!-- </li>
          <li class="sidebar-brand">
            <a id="cursor"><i class="fa-regular fa-flag"></i> Reports</a>
          </li> -->
          <!-- <li class="sidebar-brand">
            <a id="cursor"
              ><i class="fa-regular fa-rectangle-list"></i> Integrations</a
            >
          </li> -->
          <!-- <li class="sidebar-brand">
            <a id="cursor"><i class="fa-solid fa-users"></i> Communities</a>
          </li> -->
          <!-- <li class="sidebar-brand">
            <a id="cursor"
              ><i class="fa-solid fa-champagne-glasses"></i> Year-end Sale</a
            >
          </li> -->
        </ul>
      </div>
    </div>
    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
  