<div class="bg">
  <form #addCustomer="ngForm" (ngSubmit)="addNewCustomer()">
    <h4>Add new customer record</h4>

    <div class="row mb-3">
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Enter First Name"
          name="firstName"
          [(ngModel)]="customer.firstName"
          #firstName="ngModel"
          required
        />
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Last Name"
          name="lastName"
          [(ngModel)]="customer.lastName"
          #lastName="ngModel"
          required
        />
      </div>
      <div class="col-2">
        <input
          type="text"
          class="form-control"
          placeholder="Enter phone"
          name="phone"
          [(ngModel)]="customer.phone"
          #genre="ngModel"
          required
        />
      </div>
      <div class="col-3">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Email"
          name="email"
          [(ngModel)]="customer.email"
          #email="ngModel"
          required
        />
      </div>

      <div class="col-3">
        <button class="btn btn-success" type="submit">+Add Customer</button>
      </div>
    </div>
  </form>
</div>
